.App {
  height: 100%;
  position: relative;
}

.countdown-body {
  border: #FFFFFF solid 1px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin: 1rem .5rem;
  padding: 1.25rem;
}

.countdown-header {
  font-size: x-large;
}

.countdown-label {
  color: rgb(233, 233, 233);
  font-size: medium;
}

.countdown-number {
  color: rgb(155, 207, 255);
  font-size: xx-large;
}

.date {
  color: white;
  text-align: center;
}

.detail-container {
  margin: 15px auto 0;
  padding: 0 10px;
}

.detail-header {
  border: 2px solid white;
  border-radius: 1rem;
}

.persons {
  color: white;
  margin: 15px auto 0 auto;
  text-align: center;
}

.message {
  border-bottom: 2px white solid;
  color: white;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

  .message::before {
    border-right: 2px solid white;
    content: '🤵🏽';
    left: 0;
    padding: 0 5px;
    position: absolute;
    top: 0;
  }

  .message::after {
    border-left: 2px solid white;
    content: '👰🏽';
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
  }

.theme-header-ribbon-arrow {
  fill: white !important;
}

.theme-ribbon-date {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
}

  .theme-ribbon-date svg:first-child {
    float: left;
  }

  .theme-ribbon-date svg:last-child {
    float: right;
  }
